<div class="container">	
  <form [formGroup] = "usrform" (ngSubmit) = "sendData()" class="form-signin">
    <h2 class="form-signin-heading">Tell us About You</h2>    
    <label for="name" class="sr-only">Name</label>
    <input type="name" formControlName = "name" name="name" id="name" class="form-control" placeholder="Name" required autofocus>
    <br />
    <div *ngIf="usrform.get('name').touched && usrform.get('name').invalid" class="alert alert-danger">
        Name is required.
    </div>    
    <label for="email" class="sr-only">Email</label>
    <input type="email" formControlName = "email" name="email" id="email" class="form-control" placeholder="Email Address" required>
    <br />
    <div *ngIf="usrform.get('email').touched && usrform.get('email').invalid" class="alert alert-danger">
        Email is required.
    </div>    
    <label for="phone" class="sr-only">Phone</label>
    <input type="phone" formControlName = "phone" name="phone" id="phone" class="form-control" placeholder="Phone" required>
    <br />
    <div *ngIf="usrform.get('phone').touched && usrform.get('phone').invalid" class="alert alert-danger">
        Phone is required.
    </div>    
    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName = "password" name="password" id="password" class="form-control" placeholder="Password" required>
    <br />
    <div *ngIf="usrform.get('password').touched && usrform.get('password').invalid" class="alert alert-danger">
        Password is required.
    </div>    
    <label for="dob" class="sr-only">Date Of Birth</label>
    <input type="date" formControlName = "dob" name="dob" id="dob" class="form-control" required>
    <div *ngIf="usrform.get('dob').touched && usrform.get('dob').invalid" class="alert alert-danger">
        Date of Birth is required.
    </div>
    <br />
    <label for="image" class="sr-only">Avatar</label>
    <input type="file" name="image" id="image" class="form-control" required (change)="onFileChange($event)" #fileInput>
    <br />
    <div style="text-align: center;">
        <label class="custom-control custom-radio">
          <input formControlName = "gender" id="radio1" name="gender" type="radio" value="male" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Male</span>
        </label>
        <label class="custom-control custom-radio">
          <input formControlName = "gender" id="radio2" name="gender" type="radio" value="female" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Female</span>
        </label>
    </div> 
    <div *ngIf="usrform.get('gender').touched && usrform.get('gender').invalid" class="alert alert-danger">
        Must Select Gender
    </div>   
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="usrform.invalid">Register</button>    
  </form>
</div>
<br />