  <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PostMee</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/" routerLinkActive="active" >Home</a></li>
              <li><a routerLink="/feed" >post</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div *ngIf="show; else signup" class="buttons">
                  <button class= "btn btn-primary" routerLink="/users">My Profile</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class= "btn btn-primary" (click)= "logout()">Logout</button>
              </div>
              <ng-template #signup><div class="buttons"><button class= "btn btn-primary" routerLink="/signup">Signup</button></div></ng-template>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>