
    <div class="container">
      <div class="jumbotron">
        <h1>PostMee blog</h1>
        <p>This blog is a figment of imagination
            3 creative students who are only wish to receive 100 in advanced Internet technologies course, enjoy your stay on the site and share with your friends.
        </p>
              <div *ngIf="show; else signup" class="buttons">
                  <button class= "btn btn-primary" routerLink="/users">My Account</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class= "btn btn-primary" (click)= "logout()">Logout</button>
              </div>
              <ng-template #signup><div class="buttons"><button class= "btn btn-primary" routerLink="/login">Login</button>  <button class= "btn btn-primary" routerLink="/signup">Signup</button></div></ng-template>
      </div>

    </div> <!-- /container -->
